.category-buttons {
  margin-bottom: 100px;

  @include media-down(mobile) {
    display: none;
  }

  .buttons {

    .category-button {
      min-width: 0;
      margin-right: 15px;

      span {
        color: $secondary;
        border-color: $secondary;
        padding: 7.5px 30px;
      }

      &.active {
        span {
          color: $white;
          background-color: $secondary;
        }
      }

      &:before {
        display: none;
      }

      &:hover {
        span {
          transform: none;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
