.faq-hero {
  position: relative;
  overflow: hidden;
  background-color: #D2D2D2;

  .wrapper {
    position: relative;
    z-index: 2;
  }

  .container {
    padding: 190px 0 150px;

    @include media-down(mobile) {
      padding: 130px 0 100px;
    }
  }



  .title {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .title {
    @include h1();
    max-width: 850px;
    margin-bottom: 60px;

    @include media-down(mobile) {
      max-width: 500px;
    }
  }
}
