.faq-question-list {
  margin-bottom: 160px;

  .react-css-collapse-transition {
    transition: height .33s cubic-bezier(.4, 0, .2, 1);
  }

  .wrapper {
    @include media-down(mobile) {
      padding: 0;
    }

    .no-results-message {
      @include h4();
      display: block;
      padding: 120px 20px;
      text-align: center;
    }

    .faq-question {
      margin-bottom: 60px;
      overflow: hidden;

      @include media-down(mobile) {
        margin-bottom: 0;
        border-top: 3px solid $tertiary;

        &:last-child {
          border-bottom: 3px solid $tertiary;
        }

        &.expanded {
          .bottom-container {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .top-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px solid $tertiary;
        margin-bottom: 30px;

        @include media-down(mobile) {
          padding: 30px 20px;
          border: none;
          margin-bottom: 0px;
        }

        .the-question {
          @include h2();
          flex: 1;
          max-width: 850px;
          padding: 25px 100px 25px 0;

          @include media-down(mobile) {
            font-size: 22px;
            padding: 0 20px 0 0;
          }
        }

        .category {
          margin-left: auto;
          @include h4();
          color: $secondary;

          @include media-down(mobile) {
            display: none;
          }
        }

        .toggle-button {
          border: 2px solid $secondary;
          border-radius: 50%;
          padding: 10px;

          @include media-up(mobile) {
            display: none;
          }

          .icon {
            @include plusMinus(15px, 2px, $secondary);
          }
        }
      }

      .bottom-container {
        max-width: 850px;

        @include media-down(tablet) {
          max-width: 700px;
        }

        @include media-down(mobile) {
          padding: 0 20px;

          .html-content {
            padding-bottom: 50px;
          }
        }

        @include media-down(mobile) {
          opacity: 0;
          transition: opacity .33s ease-in-out, transform .33s ease-in-out;
          transform: translateY(2rem);
        }
      }
    }
  }
}
