.faq-hero {
  position: relative;
  overflow: hidden;

  .wrapper {
    position: relative;
    z-index: 2;
  }

  .container {
    background-color: $tertiary;
    padding: 190px 0 150px;

    @include media-down(mobile) {
      padding: 130px 0 100px;
    }
  }



  .title {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .title {
    @include h1();
    max-width: 850px;
    margin-bottom: 60px;

    @include media-down(mobile) {
      max-width: 500px;
    }
  }

  .svg-background {
    @include center-align(absolute);
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
