.faq-question-list {
  margin-bottom: 160px;

  .wrapper {

    .faq-question {
      margin-bottom: 60px;

      .top-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px solid $tertiary;
        margin-bottom: 30px;

        .the-question {
          @include h2();
          flex: 1;
          max-width: 850px;
          padding: 25px 100px 25px 0;
        }

        .category {
          margin-left: auto;
          @include h4();
          color: $secondary;
        }
      }

      .bottom-container {
        max-width: 850px;
      }
    }
  }
}
